.better-clock {
    display: block;
    width: 300px;
    border: 1px solid sandybrown;
    border-radius: 8px;

    text-align: center;

    &__time {
        color: blue;
        font-size: 48px;
    }
}